@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --background: #ffffff; */
  /* --background: #FAF6EF; */
  /* --background: #fff3de; */
  /* --background: #151515; */
  /* --background: #fbfbff; */
  --background: #f6f7f8;
  /* --foreground: #171717; */
  /* --foreground: #3c3a34; */
  /* --foreground: #e0e0e0; */
  --foreground: #151515;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  /* cursor: none; */
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
